{% extends "base.html" %}
{% set page_id = "data_sets" %}
{% block header_button %}
    <button onclick="markAsComplete('data_sets')" id="btn-data_sets" class="btn btn-warning">Mark Completed</button><br>                        
{% endblock %}
{% block content %}
<main>
    <section>
        <h3 class="text-center"><i class="fas fa-database"></i> I can construct, refine, and interrogate data sets within tables, charts, spreadsheets, and databases to test or support an investigation.</h3>
        <p class="text-center">The ability to construct, refine, and interrogate data sets is a crucial skill in both data literacy and computational thinking.
        Here are some ways this competency can be developed:</p>
    </section>
    <section class="text-center mt-4">
        <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/mYxjl_dkdtM?si=9wDG7k4mXJfo5wcU" 
        title="What is a Dataset" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </section>
    <section>
        <div class="container text-start">
            <div class="row">
                <div class="col-md-6"><h4 style="color: #E67E22;">Constructing Data Sets</h4>
                    <b>Data Collection:</b> Gather data through surveys, experiments, or open datasets.<br>
                    Activity: Conduct a class survey on favourite fruits or daily screen time.<br>
                    <b>Creating Tables:</b> Organise collected data into tables with clear headers and consistent formats using tools like Excel or Google Sheets.
                    <h4 style="color: #E67E22;">Refining Data Sets</h4>
                    <b>Cleaning Data:</b> Use features like “Find and Replace” or data validation to correct errors.<br>
                    <b>Data Transformation:</b> Demonstrate techniques for transforming data into more usable formats, 
                    such as converting text to numbers, or sorting values for clarity.<br>
                    Activity: Format survey data into categories like "low," "medium," or "high."<br>
                    <h4 style="color: #E67E22;">Interrogating Data Sets</h4>
                    <b>Data Analysis:</b> Use basic statistical methods to explore data
                        such as calculating averages, medians, and mode.<br>
                    <b>Creating Charts and Graphs:</b> Present data visually, with the most appropriate format.
                </div>
                <div class="col-md-6"><h4 style="color: #E67E22;"><i class="fa-solid fa-database info-icon"></i> Evaluating Data Sets</h4>
                    <p>Encourage students to evaluate real-world data sets, such as weather patterns, hours of sun light, method of travelling to school. 
                    Introduce questions like:</p>
                    <ul>
                        <li>What does the data show?</li>
                        <li>Are there any patterns or trends?</li>
                        <li>What could the data mean for our community?</li>
                    </ul>
                    <h4 style="color: #E67E22;">Activities</h4>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item"><b>Construct</b> a data set. Collect and organise data to answer specific questions.</li>
                        <li class="list-group-item"><b>Refine</b> the data set. Check the data set for accuracy in spelling and format (e.g. integers, whole numbers).
                            Identify any missing or incorrect entries. Consider additional categories or removing unecessary categories for clear and accurate data.</li>
                        <li class="list-group-item"><b>Interrogate</b> the data set. Encourage curiousity and ask questions about the data set, such as 
                            "What is the highest/lowest value?" and "What patterns can we see?"</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}