{% extends "base.html" %}
{% set page_id = "data_format" %}
{% block header_button %}
    <button onclick="markAsComplete('data_sets')" id="btn-data_sets">Mark Completed</button><br>                        
{% endblock %}
{% block content %}
<main>
  <section>
    <h3 class="text-center"><i class="fas fa-table"></i> I can collect, enter, organise, and analyse data into different groups or formats, 
      e.g., tables, charts, databases, and spreadsheets.</h3>
      <p class="text-center">Develop the skill to collect, enter, organise, and analyse data into various formats. These foundational skills underpin data literacy and empower learners to make sense of information.
      </p>
  </section>
  <section>
    <div class="container text-start">
      <div class="row">
        <div class="col-md-6"><h4 style="color: #E67E22;">Types of Data:</h4>
          Data comes in many forms and serves diverse purposes:<br>
          <b>Descriptive (Qualitative)</b><br>
          Descriptive information such as colours or labels e.g. 'red' or 'Group A'.<br>
          <b>Numerical (Quantitative)</b><br> 
            <li><b>Discrete:</b> Counted values e.g. number of students.</li>
            <li><b>Continuous:</b> Measured values e.g. temperature.</li>
          </ul>
        </div>
        <div class="col-md-6"><h4 style="color: #E67E22;">Collecting Data</h4>
          <p>Before collecting data, <b>define the purpose</b> of your data collection:
            <ul>
              <li>What questions are you answering?</li>
              <li>What patterns are you looking for?</li>
            </ul>
            <b>Data Sources</b>
            <ul>
              <li>Primary: Direct collection methods, such as surveys</li>
              <li>Secondary: Using pre-existing resources, like databases</li>
            </ul>
          <i class="fa-regular fa-lightbulb"></i> <b>Tip</b>: Ensure consistent units, formats, and data types for accuracy.
          </p>
        </div>
      </div>
    </div>
  </section>
  <h2 class="text-center" style="color: #E67E22;">Organising Data</h2>
  <p class="text-center">Data organisation transforms raw information into meaningful insights:</p>
  <section>
    <div class="container text-start">
      <div class="row">
        <div class="col"><h5 style="color: #E67E22;">Tables</h5>
          Present data in rows and columns with clear labels.<br>
          Examples:
          <ul>
            <li>Train timetables</li>
            <li>Class registers</li>
            <li>Lesson schedules</li>
          </ul>
        </div>
        <div class="col"><h5 style="color: #E67E22;">Charts and Graphs</h5>
          <strong>Pie Chart:</strong> Ideal for showing contrasts between two categories.<br>
          <strong>Bar Chart:</strong> Effective for comparing quantities across categories.<br>
          <strong>Line Graph:</strong> Track changes over time.<br>
          <strong>Tally Chart:</strong> Simplifies data collection using tallies.
        </div>
      </div>
      <div class="row">
        <div class="col"><h5 style="color: #E67E22;">Databases</h5>
        Store information in a structured format for easy access.
        </div>
        <div class="col"><h5 style="color: #E67E22;">Spreadsheets</h5>
        Great for sorting, filtering, and performing calculations with formulas and functions.
        </div>
      </div>
    </div>
    <div class="container text-start">
      <div class="row">
        <div class="col"><h4 style="color: #E67E22;">Activities</h4>
          Apply your knowledge with these practical activities:
          <ol class="list-group list-group-numbered">
            <li class="list-group-item"><b>Class Survey:</b> Conduct a survey on a topic of interest.</li>
            <li class="list-group-item"><b>Record Data:</b> Organise results in a table or database.</li>
            <li class="list-group-item"><b>Categorise and Analyse:</b> Group and interpret the data.</li>
            <li class="list-group-item"><b>Visualise:</b> Create a bar chart or pie chart to illustrate patterns.</li>
            <li class="list-group-item"><b>Discuss:</b> Reflect on the usefulness of organised data.</li>
          </ol>
        </div>
        <div class="col"><h4 style="color: #E67E22;">Resources</h4>
          <p>Boost your data literacy with these helpful links:<br>
            <a href="https://www.stem.org.uk/resources/community/collection/12744/years-3-4-data-and-statistics" target="_blank">Data and Statistics</a><br>
            <a href="https://www.csfieldguide.org.nz/en/interactives/data-visualisation/" target="_blank">Find the Most Common Number</a><br>
            <a href="https://www.bbc.co.uk/bitesize/articles/zxkh6g8#zm7vf82" target="_blank">BBC Bitesize</a><br>
            <a href="https://www.mathsisfun.com/data/data-discrete-continuous.html" target="_blank">Maths is fun</a><br>
            <a href="https://www.bbc.co.uk/bitesize/articles/z8yk87h#z7rxp9q" target="_blank">Working with data</a><br>
            Download this extensive database pack from Digital Schoolhouse:
            <a href="{{ url_for('download_file', filename='Databases_Unplugged_by_Digital_Schoolhouse.pdf') }}" class="btn btn-primary btn-lg" download>
            Databases Unplugged</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
