{% extends "base.html" %}
{% set page_id = "data_format" %}
{% block header_button %}
    <button onclick="markAsComplete('data_sets')" id="btn-data_sets">Mark Completed</button><br>                        
{% endblock %}
{% block content %}
<main>
  <section>
    <h3 class="text-center"><i class="fas fa-table"></i> I can collect, enter, organise, and analyse data into different groups or formats, 
      e.g. tables, charts, databases, and spreadsheets.</h3>
      <p class="text-center">These foundational skills underpin data literacy and empower learners to make sense of information.
      </p>
  </section>
  <section>
    <div class="container text-start">
      <div class="row">
        <div class="col-md-6"><h4 style="color: #E67E22;">Types of Data</h4>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/MKP_N9Ipm7Y?si=1wB3NtZ-UJ_ttSk2" 
          title="What is Data" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
          </iframe>
          Data comes in many forms and serves different purposes:<br>
          <h5 class="text-center"><b>Qualitative Data (Descriptive)</b></h5></p>
          Descriptive information such as colours or labels e.g. 'red' or 'Group A'.<br>
          <h5 class="text-center"><b>Quantitative Data (Numerical)</b></h5></p>
          Quantitative data can discrete or continuous:<br>
            <h5 class="text-center"><b>Discrete Data:</b></h5> Counted values, whole numbers, cannot be broken down into fractions or smaller parts.<br>
              <b>Examples:</b> The number of students in a classroom.<br>
              <b>Representation:</b> Discrete data is often represented using tally charts, bar charts, or pie charts.<i class="fa-solid fa-chart-column"></i> <i class="fa-solid fa-chart-pie"></i><br>
            <h5 class="text-center"><b>Continuous Data:</b></h5> Can take any value within a given range.<br> 
              <b>Examples</b> of continuous data include height, weight, temperature, and length.<br> 
              <b>Representation:</b> Continuous data is best shown on a line graph. <i class="fa-solid fa-chart-line"></i>
        </div>
        <div class="col-md-6"><h4 style="color: #E67E22;">Collecting Data</h4>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/cV4DcjyvP4g?si=IOp9fTEsCd79Hym2" 
          title="Collecting Data" 
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <p>Before collecting data, <b>define the purpose</b> of your data collection:
            <p class="text-center">
              What questions are you answering?<br>
              What patterns are you looking for?
            </p>
            <h5 class="text-center"><b>Data Sources</b></h5>
            <b>Primary:</b> Direct collection methods, such as surveys<br>
            <b>Secondary:</b> Using pre-existing resources, like databases<br>
          <i class="fa-regular fa-lightbulb"></i> <b>Tip</b>: Ensure consistent units, formats, and data types for accuracy.<br>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/ootwsLwItfo?si=47nttrMuan1iZ6MS" 
          title="Data Sources" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
          </iframe>
          </p>
        </div>
      </div>
    </div>
  </section>
  <h2 class="text-center" style="color: #E67E22;">Organising Data</h2>
  <p class="text-center">Transforming raw data into meaningful insights:</p>
  <section>
    <div class="container text-start">
      <div class="row">
        <div class="col"><h5 style="color: #E67E22;">Tables</h5>
          Present data in rows and columns with clear labels.<br>
          Examples:
          <ul>
            <li>Train timetables</li>
            <li>Class registers</li>
            <li>Lesson schedules</li>
          </ul>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/N-WE4uB0Zr4?si=lf5o-VUQJO1e5LOS" 
          title="Tables" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
          </iframe>
          <h5 style="color: #E67E22;">Databases</h5>
          Store information in a structured format for easy access.
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/wp5rtaLbLok?si=I5yxfusDXzSvgH5Y" 
          title="Databases" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <h5 style="color: #E67E22;">Spreadsheets</h5>
          Great for sorting, filtering, and performing calculations with formulas and functions.
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/MZimPlQ5v88?si=tNnWm2RNfuqj0t7c" 
          title="Spreadsheets" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
          </iframe>
          <h4 style="color: #E67E22;">Activities</h4>
          Apply your knowledge with these practical activities:
          <ol class="list-group list-group-numbered">
            <li class="list-group-item"><b>Class Survey:</b> Conduct a survey on a topic of interest.</li>
            <li class="list-group-item"><b>Record Data:</b> Organise results in a table or database.</li>
            <li class="list-group-item"><b>Categorise and Analyse:</b> Group and interpret the data.</li>
            <li class="list-group-item"><b>Visualise:</b> Create a bar chart or pie chart to illustrate patterns.</li>
            <li class="list-group-item"><b>Discuss:</b> Reflect on the usefulness of organised data.</li>
          </ol>
          </div>
        <div class="col"><h5 style="color: #E67E22;">Charts and Graphs</h5>
          <strong>Pie Chart:</strong><br>
           Ideal for showing contrasts between two categories.<br>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/0WNJkBXywMU?si=cSFBJggsDi92yedd" title="Create Pie Chart in Excel" 
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <strong>Bar Chart:</strong><br>
           Effective for comparing quantities across categories.<br>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/lz5u8_TGsIE?si=ITju1NaLujP_-XI7" title="Create a Bar Chart In Google Sheets" 
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
          <strong>Line Graph:</strong><br>
           Track changes over time.<br>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/l61owCcnrPI?si=5YUXcFy6uvFTU5k2" 
          title="Line Graph" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
          </iframe>
          <strong>Tally Chart:</strong><br>
           Simplifies data collection using tallies.<br>
          <iframe 
          width="520" 
          height="315" 
          src="https://www.youtube.com/embed/JuEpHNhRJlA?si=FKVJypzacMJtPbJ6" 
          title="Tally Chart" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <div class="container text-start">
      <div class="row">
        <div class="col">
        </div>
        <div> <h2 class="text-center" style="color: #E67E22;">Resources</h2>
          <p>Boost your data literacy with these helpful links:<br>
            <a href="https://www.stem.org.uk/resources/community/collection/12744/years-3-4-data-and-statistics" target="_blank">STEM Learning: Data and Statistics</a><br>
            <a href="https://www.bbc.co.uk/bitesize/articles/zxkh6g8#zm7vf82" target="_blank">BBC Bitesize: Types of data</a><br>
            <a href="https://www.bbc.co.uk/bitesize/articles/z8yk87h#z7rxp9q" target="_blank">BBC Bitesize: Working with data</a><br>
            <a href="https://www.bbc.co.uk/bitesize/topics/z7rcwmn/articles/zqv8bqt#zq4xfdm" target="_blank">BBC Bitesize: Line Graphs</a><br>
            <a href="https://www.bbc.co.uk/bitesize/topics/z7rcwmn/articles/zcwfp4j#zgn97v4" target="_blank">BBC Bitesize: Pie Charts</a><br>
            Download this extensive database pack from Digital Schoolhouse:<br>
            <a href="{{ url_for('download_file', filename='Databases_Unplugged_by_Digital_Schoolhouse.pdf') }}" class="btn btn-primary btn-lg" download>
            Databases Unplugged</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
