{% extends "base.html" %}
{% set page_id = "evaluate_data" %}
{% block header_button %}
    <button onclick="markAsComplete('evaluate_data')" id="btn-evaluate_data" class="btn btn-warning">Mark Completed</button>    
{% endblock %}                    
{% block content %}
<main>
  <section>
    <h3 class="text-center"><i class="fas fa-chart-bar"></i> I can extract and evaluate information from tables and graphs to answer questions.</h3>
    <p class="text-center">Learners will understand how to use tables and graphs to understand data.</p>
  </section>
  <section>
    <div class="container text-start">
      <div class="row">
        <div class="col"><h4 style="color: #E67E22;">Understanding Tables and Graphs</h4>
          <p>Learn the components of graphs and tables and how to <b>extract</b> basic information.
            <ul>
              <li>Recognise components like titles, axes, labels, units, scales, and legends/keys.</li>
              <li>Understand how each element provides insights into the data presented.</li>
            </ul>
            <h4 style="color: #E67E22;">Develop skills to extract meaningful insights from tables and graphs</h4>
            <ul>
              <li>From tables, examine headers for columns and rows.</li>
              <li>From graphs, identify details from the x-axis and y-axis, to understand what is being measured.</li>
              <li>Identify trends over time, highest and lowest values, and comparisons between groups.</li>
              <li>Identify outliers or irregularities, that can lead to interesting insights or require futher investigation. 
                Recognise how anomalies affect the mean.</li>
            </ul>
            <b>Activity:</b> Show a simple bar graph and ask students to identify the title, axes, and labels.<br>
            Ask questions like:
            <ul>
              <li>What does this graph show?</li>
              <li>What is the most popular value?</li>
              <li>How many responses were given in total?</li>
            </ul>
            <img src="{{ url_for('static', filename='images/bar_chart.png') }}" alt="Bar Chart" class="section-image img-fluid"><br>
            <i>Image source: https://www.bbc.co.uk/bitesize/articles/z9kbp4j#z78h3qt</i>
          </p>
        </div>
        <div class="col">
          <div class="video-container">
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/bmY28wdGL9M?si=k6ysoyr4eySWOy9O" 
            title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
          </div>
          <br>
          <h4 style="color: #E67E22;">Activites</h4>
          <b>Guided Practice:</b> Provide a table with students' heights.<br>
          <table style="width:100%; margin-top:10px; border-collapse: collapse; font-size: 16px;">
            <thead>
              <tr style="background-color: #0044cc; color: white; text-align: left;">
                <th style="padding: 10px; border: 1px solid #ddd;">Name</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Height (cm)</th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #f9f9f9;">
                <td style="padding: 10px; border: 1px solid #ddd;">Rhys</td>
                <td style="padding: 10px; border: 1px solid #ddd;">130</td>
              </tr>
              <tr style="background-color: #ffffff;">
                <td style="padding: 10px; border: 1px solid #ddd;">Mair</td>
                <td style="padding: 10px; border: 1px solid #ddd;">125</td>
              </tr>
              <tr style="background-color: #f9f9f9;">
                <td style="padding: 10px; border: 1px solid #ddd;">Sioned</td>
                <td style="padding: 10px; border: 1px solid #ddd;">128</td>
              </tr>
              <tr style="background-color: #ffffff;">
                <td style="padding: 10px; border: 1px solid #ddd;">Dafydd</td>
                <td style="padding: 10px; border: 1px solid #ddd;">132</td>
              </tr>
              <tr style="background-color: #f9f9f9;">
                <td style="padding: 10px; border: 1px solid #ddd;">Nerys</td>
                <td style="padding: 10px; border: 1px solid #ddd;">131</td>
              </tr>
            </tbody>
          </table>
          Ask questions like:
          <ul>
            <li>Who is the tallest?</li>
            <li>What is the average height?</li>
            <li>Identify the shortest person.</li>
          </ul>
          <b>Independent Activity:</b><br>
          Using class survey data, ask students to visualise their data. Encourage learners to think about the most effective ways
          of presenting their data, and highlight the importance of accurate data.<br>
          This can be an unplugged activity, using pen and paper, and then later adapted to using digital tools.<br>
          Question learners on any patterns or trends that they noticed. Encourage the analysis of data.
        </div>
      </div>
    </div>      
  </section>
</main>
{% endblock %}