{% extends "base.html" %}
{% block title %}Computational Thinking{% endblock %}
{% block content %}
<main class="container mt-4">
    <h4 class="text-center mb-4" style="color: #6f42c1;">
        <i class="fa-solid fa-laptop-code"></i> Computational Thinking is a combination of problem-solving, scientific enquiry, and thinking skills.
    </h4>
    <section>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2>Computational Thinking Skills</h2>
                        <p>Can be defined by Four Key Techniques:</p>
                        <ul>
                            <li>
                                <b>Abstraction:</b> Simplifying complex problems by focusing on the relevant details.<br>
                                <a class="text-dark" data-bs-toggle="collapse" href="#abstraction-details" role="button" aria-expanded="false" aria-controls="abstraction-details">
                                Read more
                                </a>
                                <div class="collapse mt-2" id="abstraction-details">
                                    <p>Abstraction involves simplifying complex information by identifying and focusing on the essential and important
                                        details, and ignoring irrelevant information and unnecessary complexities. This is especially useful when facing 
                                        unfamiliar problems by concentrating on what is necessary.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <b><a href="{{ url_for('break_down_a_problem') }}">Decomposition</a>:</b> Breaking a problem into smaller, manageable parts.<br>
                                <a class="text-dark" data-bs-toggle="collapse" href="#decomposition-details" role="button" aria-expanded="false" aria-controls="decomposition-details">
                                    Read more
                                </a>
                                <div class="collapse mt-2" id="decomposition-details">
                                    <p>Problem decomposition involves systematically dividing a complex problem into smaller, more manageable parts. 
                                        This allows the assessment and resolution of each sub-problem at hand, and by deriving solutions to each sub-part, 
                                        it is possible to assess all steps necessary to solve the bigger problem. For example, when working on an assisgnemnt,
                                        it is necessary to divide it into sections to answer each part individually so that it is easier to analyse and solve.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <b><a href="{{ url_for('identify_repetitions') }}">Pattern Recognition:</a></b> Identifying similarities or patterns in data.<br>
                                <a class="text-dark" data-bs-toggle="collapse" href="#pattern-recognition-details" role="button" aria-expanded="false" aria-controls="pattern-recognition-details">
                                    Read more
                                </a>
                                <div class="collapse mt-2" id="pattern-recognition-details">
                                    <p>Pattern recognition involves identifying similarities and recurring themes and regularities. Recognising recurrent patterns
                                        can subsequently lead to more efficient and effective problem-solving by saving time. Pattern recognition can be seen from 
                                        webiste design, where there is always a main, header, body and footer. 
                                    </p>
                                </div>
                            </li>
                            <li>
                                <b><a href="{{ url_for('refining_algorithms') }}">Algorithm Design:</a></b> Creating a step-by-step solution to a problem.<br>
                                <a class="text-dark" data-bs-toggle="collapse" href="#algorithm-design-details" role="button" aria-expanded="false" aria-controls="algorithm-design-details">
                                    Read more
                                </a>
                                <div class="collapse mt-2" id="algorithm-design-details">
                                    <p>An algorithm is a list of instructions needed to follow to achieve the same desired outcome every time.
                                        Algorithmic thinking involves constructung a single function that can be applied to multiple sub problems. 
                                        Computers take instructions very literally, therefore instructions in the algorithm must be precise and detailed.
                                        Developing efficient algorithms is a fundamental aspect of computational thinking.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p>Computational thinking is a key component of the <a href="https://hwb.gov.wales/curriculum-for-wales/cross-curricular-skills-frameworks/digital-competence-framework" target="_blank" class="text-primary">Digital Competency Framework (DCF)</a>.</p>
                        <p>Before learners can use computers to solve problems, they must first understand the problem and the methods of solving them. Through these elements, learners will understand the importance of data and information literacy, and they will explore aspects of collection, representation, and analysis.</p>
                        <p>These skills will prepare learners for the digital world and provide essential skills for the modern, dynamic workplace.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Section -->
    <section class="text-center mt-4">
        <h4>Learn More About Computational Thinking</h4>
        <div class="video-container mb-4">
            <iframe 
                width="100%" 
                height="315" 
                src="https://www.youtube.com/embed/T0ZwWbnxabI" 
                title="Computational Thinking with Technocamps" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </section>
    <section class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/Barefoot_CT_jargon_buster.png') }}" alt="Computational Thinking Jargon Buster" class="section-image img-fluid">
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/Barefoot_CT_jargon_buster_CYMRAEG.png') }}" alt="Computational Thinking Jargon Buster Cymraeg" class="section-image img-fluid">
        </div>
    </section>    
    <section class="text-center mt-4">
        <a href="{{ url_for('download_file', filename='Barefoot_Quick_Guide_to_computational_thinking.pdf') }}" class="download-btn" download>
            Download Computational Thinking Guide
        </a>
    </section>
</main>
{% endblock %}
