{% extends "base.html" %}

{% block content %}
<main>
    <section>
        <div class="container">
            <!-- Resource Cards Section -->
            <div class="row">
                <!-- STEM Primary Resources -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            <h5 class="card-title">STEM Resources</h5>
                        </div>
                        <div class="card-body">
                            <p>Explore resources to enhance STEM education in primary schools.</p>
                            <a href="https://www.stem.org.uk/primary/resources" target="_blank" class="btn btn-primary w-100">STEM Primary Resources</a>
                            <a href="https://hwb.gov.wales/curriculum-for-wales/cross-curricular-skills-frameworks/digital-competence-framework/" target="_blank" class="btn btn-primary w-100 mt-2">The Welsh Gov DCF</a>
                            <a href="https://www.csunplugged.org/en/" target="_blank" class="btn btn-primary w-100 mt-2">CS Unplugged</a>
                            <a href="https://scratched.gse.harvard.edu/ct/index.html" target="_blank" class="btn btn-primary w-100 mt-2">Computational Thinking with Scratch</a>
                            <a href="https://cs4fndownloads.wordpress.com/a-bit-of-cs4fn-primary-puzzles-issue-1/" target="_blank" class="btn btn-primary w-100 mt-2">Computer Science for Fun</a>
                            <a href="https://www.csfieldguide.org.nz/en/interactives/" target="_blank" class="btn btn-primary w-100 mt-2">CS Field Guide</a>
                            <a href="https://codeclub.org/en/"target="_blank" class="btn btn-primary w-100 mt-2">Code Club</a>
                        </div>
                    </div>
                </div>
                <!-- Events and Workshops -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header bg-success text-white">
                            <h5 class="card-title">Events and Workshops</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="https://www.technocamps.com/en/events/" target="_blank" class="btn btn-outline-success">Technocamps Events and Workshops</a>
                                </li>
                                <li class="list-group-item">
                                <a href="https://www.barefootcomputing.org/primary-computing-workshops" target="_blank" class="btn btn-outline-success">Primary School Teacher Workshops - Barefoot</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Hardware -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header bg-warning text-white">
                            <h5 class="card-title">Hardware</h5>
                        </div>
                        <div class="card-body">
                            <a href="https://projects.raspberrypi.org/en" target="_blank" class="btn btn-secondary w-100 mb-2">Raspberry Pi Projects</a>
                            <a href="https://microbit.org/" target="_blank" class="btn btn-secondary w-100 mb-2">Microbit</a>
                            <a href="https://spike.legoeducation.com/" target="_blank" class="btn btn-secondary w-100 mb-2">Lego Spike Education</a>
                            <a href="https://education.minecraft.net/en-us" target="_blank" class="btn btn-secondary w-100 mb-2">Minecraft Education</a>
                        </div>
                    </div>
                </div>
            </div>
           <!-- CPD (Continuous Professional Development) Section -->
            <section class="d-flex justify-content-center align-items-center vh-100 flex-column">
                <h2 class="text-center">CPD Online Courses</h2>
                <div class="card w-75">
                    <div class="card-body">
                        <div class="mb-3">
                            <a href="https://teachcomputing.org/courses/CO041/teaching-programming-to-5-to-11-year-olds" 
                            target="_blank" class="btn btn-info w-100">Teaching Programming to 5-11 Year Olds
                            </a>
                        </div>
                        <div class="mb-3">
                            <a href="https://teachcomputing.org/courses/CO232/introduction-to-programming-with-scratch" 
                            target="_blank" class="btn btn-info w-100">Introduction to Scratch
                            </a>
                        </div>
                        <div class="mb-3">
                            <a href="https://teachcomputing.org/courses/CO042/teaching-computing-systems-and-networks-to-5-to-11-year-olds" 
                            target="_blank" class="btn btn-info w-100">Teaching Computing Systems and Networks
                            </a>
                        </div>
                        <div class="mb-3">
                            <a href="https://www.technocamps.com/en/technoteach/" 
                            target="_blank" class="btn btn-info w-100">Technoteach Course
                            </a>
                        </div>
                        <div class="mb-3">
                            <a href="https://skillshop.exceedlms.com/student/path/645927?locale=en-GB" 
                            target="_blank" class="btn btn-info w-100"> Google Workspace
                        </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
{% endblock %}
