{% extends "base.html" %}

{% block content %}
<a href="https://hwb.gov.wales/curriculum-for-wales/cross-curricular-skills-frameworks/digital-competence-framework/" target="_blank">The Welsh Gov DCF</a><br>
<a href="https://www.csunplugged.org/en/"target="_blank">CS Unplugged - Computer Science without a computer</a><br>
<a href="https://scratched.gse.harvard.edu/ct/index.html"target="_blank">Computational Thinking with Scratch</a><br>
<a href="https://cs4fndownloads.wordpress.com/a-bit-of-cs4fn-primary-puzzles-issue-1/"target="_blank">Computer Science for Fun</a>
<a href="https://www.csfieldguide.org.nz/en/interactives/"target="_blank">CS</a>
<h1>Events and Workshops</h1>
<li><a href="https://www.barefootcomputing.org/primary-computing-workshops"target="_blank">Primary school teacher workshops from Barefoot</a></li>
<li><a href="https://www.technocamps.com/en/events/"target="_blank">Technocamps events and workshops</a></li>

{% endblock %}