{% extends "base.html" %}
{% set page_id = "break_down_a_problem" %}
{% block header_button %}
    <button onclick="markAsComplete('break_down_a_problem')" id="btn-break_down_a_problem" class="btn btn-success my-3">Mark Completed</button>
{% endblock %}
{% block content %}
<main>
    <section>
        <h3 class="text-center"><i class="fas fa-puzzle-piece"></i> I can break down a problem to predict its outcome.</h3>
        <p class="text-center">Decomposition is the process of breaking down a big problem into smaller tasks that are more manageable and easier to understand. 
            Smaller problems are easier to understand and can be examined in more detail. We can work through these smaller tasks, step-by-step, until the whole task is complete.</p>
    </section>
    <section>
        <div class="container text-start">
            <div class="row">
                <div class="col"><h4 style="color: #008A55;">Example: Clean a Bedroom</h4>
                    <p>The goal is to clean a bedroom. Instead of doing everything at once, let’s break down this process into tasks.</br>
                    1. Ask students to design their room and identify variables e.g. bed, carpet, wardrobe.</br>
                    2. Now students can assign functions in the form of cleaning tasks.</br>
                    Tasks could include hoovering, making a bed, putting away clothes.<br>
                    3. Identify any patterns, such as tasks that follow a sequence or occur simultaneously.
                    For example, we would collect all of the books and then put them away, as this saves time.<br></p>
                    This is how we can decompose a large task into smaller parts.</p>
                </div>
                <div class="col"><img src="{{ url_for('static', filename='images/bedroom.png') }}" alt="Bedroom" class="section-image img-fluid"><br>
                <i>Image source: https://www.tinytap.com/activities/g2dby/play/tidy-the-room</i>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container text-start">
            <div class="row">
                <div class="col"><h4 style="color: #008A55;">Introducing Abstraction</h4>
                    <p><b>Abstraction</b> is about focusing on the important details and ignoring the rest.
                        When solving problems, it is not always necessary to understand all of the complex details.
                        For example, when designing a website, the focus is on the design, therefore we can <b>abstract</b> from the actual programming involved.
                    </p>
                </div>
                <div class="col"><h4 style="color: #008A55;">Applying Decomposition in Computing</h4>
                    <p><b>You have been asked to design the school's website.</b><br>
                        How would you break this big task into smaller steps?<br>
                        What are essential details and tasks we need to include?<br>
                        What are unneccesary details we can abstract?<br>
                        What needs to be done first, and what will be the last thing to do?<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center">
            By applying Decomposition, we break a big task into small steps, and by using Abstraction, we focus on what’s most important for each step.  
        </div>
    </section>
</main>
{% endblock %}