{% extends "base.html" %}
{% set page_id = "break_down_a_problem" %}
{% block header_button %}
    <button onclick="markAsComplete('break_down_a_problem')" id="btn-break_down_a_problem">Mark Completed</button>
{% endblock %}
{% block content %}
<main>
    <section>
        <h3 class="text-center"><i class="fas fa-puzzle-piece"></i> I can break down a problem to predict its outcome.</h3>
        <p class="text-center">Decomposition is the process of breaking down a complex problem into smaller, manageable tasks. It helps us solve problems step by step.</p>
    </section>
    <section>
        <div class="container text-start">
            <div class="row">
                <div class="col"><h4 style="color: #008A55;">Example: Clean a Bedroom</h4>
                    <p>The goal is to clean a bedroom. Let’s break down this process into tasks.</br>
                    1. Ask students to design their room and identify variables e.g. bed, carpet, wardrobe.</br>
                    2. Now students can assign functions in the form of cleaning tasks.</br>
                    Tasks could include hoovering, making a bed, putting away clothes.<br>
                    3. Identify any patterns, such as tasks that follow a sequence or occur simultaneously.<br>
                    This is how we can decompose a large task into smaller parts.</p>
                </div>
                <div class="col"><img src="{{ url_for('static', filename='images/bedroom.png') }}" alt="Bedroom" class="section-image img-fluid"><br>
                <i>Image source: https://www.tinytap.com/activities/g2dby/play/tidy-the-room</i>
                </div>
            </div>
        </div>
    </section>
    <section>
        This activity has shown by dividing a larger problem into smaller, manageable parts, we can tackle each piece individually 
        and understand how each component contributes to the overall solution.<br>
        <h4 style="color: #008A55;">Applying Decomposition in Coding</h4>
        Better control over complex problems and confidently predict results by understanding each part’s function and impact.<br>
    </section>
</main>
{% endblock %}