{% extends "base.html" %}

{% block content %}
Identify and correct errors in instructions.
I can detect and correct mistakes which cause instructions (a solution) to fail (debug).
<li>Play "Simon Says" with a twist: Include some intentional mistakes in the
    instructions and see if students can spot and correct them.</li>
    <li>Give students a set of jumbled instructions for a simple task (e.g.,
        making a sandwich, building a LEGO model). Have them put the instructions in the correct
        order and then follow them.</li>

        
{% endblock %}