{% extends "base.html" %}
{% set page_id = "identify_repetitions" %}
{% block header_button %}
    <button onclick="markAsComplete('identify_repetitions')" id="btn-identify_repetitions">Mark Completed</button>
{% endblock %}
{% block content %}
<main>
    <section>
        <h3 class="text-center"><i class="fa-solid fa-repeat"></i>I can identify repetitions or loops in a sequence e.g. 
        identify where to shorten a set of instructions by repeating steps, for instance, when learning a new song.</h3>
        <p class="text-center">Identifying repetitions or loops in a sequence is a foundational skill in computational thinking, to recognize patterns and find efficiencies in processes.</p>
    </section>
    <section>
        <div class="container text-start">
            <div class="row">
                <div class="col"><h4 style="color: #008A55;">Repetition = Looping</h4>
                    <div class="video-container">
                        <iframe 
                            width="560" 
                            height="315" 
                            src="https://www.youtube.com/embed/wxds6MAtUQ0"
                            title="Looping with codeacademy" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col"><h4 style="color: #008A55;">Activity</h4>
                    <img src="{{ url_for('static', filename='images/repetition_looping.png') }}" alt="Looping" class="section-image img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3>Song Lyrics with repeating verses and chorus. Highlight parts that repeat, where you can use a loop instead of rewriting each repeated line.</h3>
        <div class="row">
            <div class="col">
                <h4 style="color: #008A55;">Yma o Hyd</h4>
                <div class="video-container">
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/9R2ltnDhANs" 
                        title="Yma o Hyd - Dafydd Iwan" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col">
                <h4 style="color: #008A55;">Lawr ar Lan y Mor</h4>
                <div class="video-container">
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/Y6ifnpUg6ik" 
                        title="Lawr ar Lan y Mor" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
                <a href="http://welshnurseryrhymes.wales/Traddodiadol?cerdd=79" target="_blank">Lyrics in Welsh and English</a>
            </div>
        </div>
        
        </div>
    </section>
    <section>
    Drawing shapes with repetitive sides:<br>
    Draw a square:<br>
    Draw a line<br>
    Turn 90 degress<br>
    Repeat 4 times.<br>
    Making shapes.
    Putting shapes together to make a new different shape.
</p>
</section>

<p>Identify where to shorten a set of instructions by repeating steps</p>
Recognising patterns or repetitions is key in coding and problem-solving.<br>
Identifying repetitions can simplify tasks, like planning repeated instructions 
{% endblock %}