{% extends "base.html" %}
{% set page_id = "identify_repetitions" %}
{% block header_button %}
    <button onclick="markAsComplete('identify_repetitions')" id="btn-identify_repetitions">Mark Completed</button>
{% endblock %}
{% block content %}
<main>
    <section>
        <h3 class="text-center"><i class="fa-solid fa-repeat"></i> I can identify repetitions or loops in a sequence e.g. 
        identify where to shorten a set of instructions by repeating steps, for instance, when learning a new song.</h3>
        <p class="text-center">
            Identifying repetitions or loops in a sequence helps to recognise patterns, simplify tasks, and find efficiencies in processes.
            Recognising patterns or repetitions is key in coding and problem-solving. By identifying repetitions, tasks can be simplified, like planning repeated instructions.
        </p>
    </section>
    <section>
        <div class="container text-start">
            <div class="row">
                <div class="col"><h4 style="color: #008A55;">Repetition = Looping</h4>
                    Repetitions in sequences represent loops, a common concept in coding and algorithmic thinking. Loops allow repeated actions to be expressed more efficiently, reducing redundancy.
                    <div class="video-container">
                        <iframe 
                            width="560" 
                            height="315" 
                            src="https://www.youtube.com/embed/wxds6MAtUQ0"
                            title="Looping with codeacademy" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col"><h4 style="color: #008A55;">Activity</h4>
                    <img src="{{ url_for('static', filename='images/repetition_looping.png') }}" alt="Looping" class="section-image img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section>
        <br>
        <h4 class="text-center" style="color: #008A55;">Song Lyrics</h4>
        Have you ever noticed that some parts of your favourite songs play over and over again?<br>
        This repeated part is called the chorus, and instead of writing or singing it every single time, we can just say: 'Repeat the chorus!' This is like using a shortcut.<br>
        <p class="text-center"><b>Task - There are two Welsh songs below:</b></p>
        Analyse the song structure, and look for repeated phrases or sections.<br>
        Define the repeating parts. There could be a <span class="fw-bold" data-bs-toggle="tooltip" title="The main part of the song that usually repeats after each verse. It's often the catchiest and most memorable section">chorus,</span> 
        <span class="fw-bold" data-bs-toggle="tooltip" title="These tell the story or provide details, often changing in lyrics but not in melody">verse</span> or 
        <span class="fw-bold" data-bs-toggle="tooltip" title="A contrasting section that adds variety, usually only appears once">bridge.</span><br>
        Simplify using loops: Instead of rewriting a repeated line or section multiple times, note where it should loop back and how many times to repeat.<br>

        <div class="row">
            <div class="col">
                <h4 class="text-center" style="color: #008A55;">Yma o Hyd</h4>
                <div class="video-container">
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/9R2ltnDhANs" 
                        title="Yma o Hyd - Dafydd Iwan" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col">
                <h4 class="text-center" style="color: #008A55;">Lawr ar Lan y Mor</h4>
                <div class="video-container">
                    <iframe 
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/Y6ifnpUg6ik" 
                        title="Lawr ar Lan y Mor" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
                <a href="http://welshnurseryrhymes.wales/Traddodiadol?cerdd=79" target="_blank">Lyrics in Welsh and English</a>
            </div>
        </div>
    </section>
    <section>
        <h4 class="text-center" style="color: #008A55;">Pattern Recongition Activity</h4>
        <a href="{{ url_for('download_file', filename='Barefoot_Sequences_Activity.pdf') }}" class="btn btn-primary btn-lg" download>
            Download Sequences Activity
        </a>
        <a href="{{ url_for('download_file', filename='Barefoot_Sequences_Worksheet.pdf') }}" class="btn btn-primary btn-lg" download>
            Download Sequences Worksheet
        </a>
        <a href="{{ url_for('download_file', filename='Barefoot_Sequences_Worksheet_2.pdf') }}" class="btn btn-primary btn-lg" download>
            Download Sequences Worksheet Extra
        </a>
    </section>
</main>
{% endblock %}