{% extends "base.html" %}

{% block content %}

<h1><i class="fa-solid fa-up-down-left-right"></i>Instructions</h1>
<i class="fa-solid fa-compass"></i>Giving directions in different forms. <i class="fa-solid fa-compass"></i>
    <p><i class="fa-solid fa-up-down"></i>Up or North
    Down or South</p>
    <p><i class="fa-solid fa-right-left"></i>
    Left or West
    Right or East</p>

    <img src="{{ url_for('static', filename='images/instruct_a_robot.png') }}" alt="Instruct a Robot" class="section-image">
{% endblock %}