{% extends "base.html" %}

{% block content %}


<main>
    <h3>Basic programming concepts</h3>
    Variables, loops, conditionals, Boolean values, formulae. Loops:
        <h4>For loop</h4> when the number of iterations is known or fixed
        <h4>While loop</h4> when the loop should only be executed if a specific condition holds true
        <h4>Do-while loop</h4> when the loop should be executed at least once and continue as long as the condition is true
        <h4>Boolean values</h4> yes or no, true or false
</main>
{% endblock %}